<div class="container">
  <div class="row">

      <div class="col-md-12">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h2>
                      Posts

                      <a href="/posts/create" class="btn btn-default pull-right">Create New</a>
                  </h2>
              </div>

              <div class="panel-body">
                  <table class="table">
                      <thead>
                          <tr>
                              <th>Title</th>
                              <th>Body</th>
                              <th>Author</th>
                              <th>Category</th>
                              <th>Tags</th>
                              <th>Published</th>
                              <th>Action</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let post of posts">
                              <td>{{post.title}}</td>
                              <td>{{post.body}}</td>
                              <td>Prof. General Huel IV</td>
                              <td>ipsum</td>
                              <td></td>
                              <td>No</td>
                              <td>
                                  <a href="/posts/1/publish" data-method="PUT" data-token="32Mxrb2s2QPyv3C1h4iYcbfZBT7PmU7Tfm9koxkk"
                                      data-confirm="Are you sure?" class="btn btn-xs btn-warning">Publish</a>
                                  <a routerLink="/admin/showPost/{{post.id}}" class="btn btn-xs btn-success">Show</a>
                                  <a routerLink="/admin/editPost/{{post.id}}" class="btn btn-xs btn-info">Edit</a>
                                  <a href="/posts/1" data-method="DELETE" data-token="32Mxrb2s2QPyv3C1h4iYcbfZBT7PmU7Tfm9koxkk"
                                      data-confirm="Are you sure?" class="btn btn-xs btn-danger">Delete</a>
                              </td>
                          </tr>

                      </tbody>
                  </table>

                  <ul class="pagination">

                      <li class="disabled"><span>«</span></li>





                      <li class="active"><span>1</span></li>
                      <li><a href="/posts?page=2">2 </a> </li> <li><a href="/posts?page=3">3 </a> </li> <li><a href="/posts?page=2"
                                      rel="next">»</a></li>
                  </ul>


              </div>
          </div>
      </div>

  </div>
</div>
