<div class="container">
  <div class="row">

      <div class="col-md-12">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h2>
                      Users
                  </h2>
              </div>

              <div class="panel-body">
                  <table class="table">
                      <thead>
                          <tr>
                              <th>Name</th>
                              <th>Email</th>
                              <th>Admin?</th>
                              <th>No of Posts</th>
                              <th>Action</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let user of users">
                              <td>{{user.id}}</td>
                              <td>walter.orlo@example.com</td>
                              <td>No</td>
                              <td>2</td>
                              <td>
                                  <a href="" data-method="DELETE" data-token="32Mxrb2s2QPyv3C1h4iYcbfZBT7PmU7Tfm9koxkk"
                                      data-confirm="Are you sure?" class="btn btn-xs btn-danger">Delete</a>
                              </td>
                          </tr>
                      </tbody>
                  </table>



              </div>
          </div>
      </div>

  </div>
</div>
