<div class="container">
  <div class="row">

      <div class="col-md-12">
          <div class="panel panel-default">
              <div class="panel-heading">
                  {{post?.title}} - <small>by Prof. General Huel IV</small>

                  <span class="pull-right">
                      Thu, Jan 10, 2019 7:50 AM
                  </span>
              </div>
              <div class="panel-body">
                  <p>{{post?.body}}</p>
                  <p>
                      Category: <span class="label label-success">ipsum</span> <br>
                      Tags:
                      <span class="label label-danger">No tag found.</span>
                  </p>
              </div>
          </div>


          <div class="panel panel-default">
              <div class="panel-heading">
                  Lacey Gaylord DVM says...

                  <span class="pull-right">3 weeks ago</span>
              </div>

              <div class="panel-body">
                  <p>Cupiditate est sed dolores aut odit odit. Qui aut dolorem quia hic. Sint ea id illo impedit
                      beatae.</p>
              </div>
          </div>
          <div class="panel panel-default">
              <div class="panel-heading">
                  Favian Halvorson says...

                  <span class="pull-right">3 weeks ago</span>
              </div>

              <div class="panel-body">
                  <p>Aut id nihil nulla quis ut. Quidem ratione quae fugiat rerum sunt. Aut sunt alias dolore
                      deserunt et deserunt. Repellendus tempore delectus qui qui.</p>
              </div>
          </div>

      </div>



  </div>

</div>
