<div class="container">
  <div class="row">

      <div class="col-md-12">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h2>
                      Tags

                      <a routerLink="/admin/createTag" class="btn btn-default pull-right">Create New</a>
                  </h2>
              </div>

              <div class="panel-body">
                  <table class="table">
                      <thead>
                          <tr>
                              <th>Name</th>
                              <th>Action</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let tag of tags">
                              <td>{{tag.name}}</td>
                              <td>
                                  <a routerLink="/admin/editTag/{{tag.id}}" class="btn btn-xs btn-info">Edit</a>
                                  <a (click)="deleteTag(tag.id)" class="btn btn-xs btn-danger">Delete</a>
                              </td>
                          </tr>

                      </tbody>
                  </table>



              </div>
          </div>
      </div>

  </div>
</div>
