<div class="container">

  <div class="row form-search">
      <form method="GET" action="" accept-charset="UTF-8" role="form">
          <div class="col-md-10">
              <input class="form-control" placeholder="Search..." name="search" type="text">
          </div>
          <div class="col-md-2">
              <input class="btn btn-block btn-default" type="submit" value="Sumbit">
          </div>
      </form>
  </div>

  <div class="row">

      <div class="col-md-12">
          <div class="panel panel-default" *ngFor="let post of posts">
              <div class="panel-heading">
                  {{post.title}} - <small>by {{post.id}}</small>

                  <span class="pull-right">
                      Thu, Jan 10, 2019 7:50 AM
                  </span>
              </div>

              <div class="panel-body">
                  <p>{{post.body}}</p>
                  <p>
                      Tags:
                      <span class="label label-danger">No tag found.</span>
                  </p>
                  <p>
                      <span class="btn btn-sm btn-success">ipsum</span>
                      <span class="btn btn-sm btn-info">Comments <span class="badge"></span></span>

                      <a routerLink="/post/{{post.id}}" class="btn btn-sm btn-primary">See more</a>
                  </p>
              </div>
          </div>


          <div align="center">
              <ul class="pagination">

                  <li class="disabled"><span>« Previous</span></li>


                  <li><a href="" rel="next">Next »</a></li>
              </ul>

          </div>

      </div>



  </div>



</div>
